In [53]:
import os
import pandas as pd
import numpy as np

In [64]:
with open("./dataset/human_chat.txt", encoding='utf8') as f:
    text=f.readlines()

In [65]:
df=pd.DataFrame(columns=["instructon","response"])
df

Empty DataFrame
Columns: [instructon, response]
Index: []

In [66]:
text=np.array(text)

In [67]:
for i in range(0,text.shape[0]-1,2):
    instruction=text[i][9:]
    response=text[i+1][9:]
    df.loc[len(df.index)]=[instruction[:-2],response[:-2]]

In [69]:
df.tail()

,instructon,response
742,I'm looking through some old photos of my home...,I feel you. Memeories always flood when lookin...
743,"It's called <REDACTED_TERM>, on the north coas...",Hope you can take some time to visit pretty soon
744,"Yes, that would be nice. Do you like travelling",Yes I do. But haven’t been to many places ye
745,"Where would you most like to go, if you could",Fly to the moon :) Hah
746,"Wow, cool! I think space tourism is going to b...",Yep! I believe there is a day for tha

In [70]:
df.isnull().sum()

instructon    0
response      0
dtype: int64